.footer {
    background-color: var(--color-dark);
    color: var(--color-primary);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.legal-info {
    font-size: var(--font-size-small);
    margin-top: 10px;
    width: 100%;
    text-align: center;
}



/* Media Queries for Responsiveness */

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .legal-info {
        text-align: center;
        margin-bottom: 10px;
    }

    .contact-button button {
        width: 100%;
        padding: 10px;
    }
}