.header {
    background-color: var(--color-dark);
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.logo {
    font-size: var(--font-size-large);
    color: var(--color-primary);
}

.nav-links {
    display: flex;
    gap: 20px;
    font-size: var(--font-size-small);
    color: var(--color-primary);
}

.nav-links a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 500;
    border-left: 1px var(--color-primary) solid;
    padding-left: 10px;
    text-transform: uppercase;
}

.nav-links a:hover {
    color: var(--color-secondary);
    border-left: 1px var(--color-secondary) solid;
}

/* Mobile Styles */
.menu-toggle {
    display: none;
    font-size: var(--font-size-large);
    background: none;
    border: none;
    color: var(--color-primary);
    cursor: pointer;
}

/* Responisve Styles */
@media (max-width: 768px) {
    .logo {
        font-size: var(--font-size-large);
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: var(--color-dark);
        width: 300px;
        
        padding: 10px;
        border-radius: 5px;
        opacity: 0; /* Start hidden */
        transform: translateX(100%); /* Start off-screen */
        transition: all 0.3s ease-in-out; /* Smooth transition */
        z-index: 10;
    }
    .nav-links.open {
        display: flex;
        transform: translateX(0);
        opacity: 1; /* Fully visible */
    }
    .menu-toggle {
        display: block;
    }
}
