.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    perspective: 1000px; 
  
   
}

.cube {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg); 
    background: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); 
    flex-direction: column; 
}
/* src/styles/Home.css */

.core-sphere {
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, #F4A261, #E76F51); /* Orange to Red gradient */
    border-radius: 50%;
    box-shadow: 0 0 80px #F4A261, 0 0 120px #E76F51; /* Enhanced glow */
    animation: glow 2s infinite alternate;
    z-index: 5; /* Ensure the core is above the background but below the message */
}

@keyframes glow {
    from {
        box-shadow: 0 0 80px #F4A261, 0 0 120px #E76F51;
    }
    to {
        box-shadow: 0 0 120px #F4A261, 0 0 160px #E76F51;
    }
}

.message {
    margin-top: 5%;
    width: 90%;
    text-align: center;
    font-size: var(--font-size-large);
    color: var(--color-dark); /* Dark Blue font color */
    z-index: 10; /* Ensure the message is on top */
}

.learn-button button {
    background-color: var(--color-dark);
    color: var(--color-primary);
    border: none;
    padding: 10px 20px;
    font-size: var(--font-size-base);
    cursor: pointer;
    border-radius: 5px;
    margin-top: 50px;
}

.learn-button button:hover {
    background-color: var(--color-secondary);
    color: var(--color-dark);
}

.learn-button button:active {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}

/* Adding a completely smooth light reflection effect */
@keyframes lightReflection {
    0% {
        background: radial-gradient(circle, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
    }
    50% {
        background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05));
    }
    100% {
        background: radial-gradient(circle, rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
    }
}
