* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-primary: #E9C46A;
    --color-secondary: #E76F51;
    --color-tertiary: #2A9D8F;
    --color-quaternary: #30638E;
    --color-dark: #264653;
    --color-background: #EFF1E3;
    --font-size-base: 16px;
    /* Base font size for larger screens */
    --font-size-large: 24px;
    /* Larger font size for headings */
    --font-size-small: 14px;
    /* Smaller font size for subtext */

    --font-size-base-mobile: 15px;
    /* Base font size for mobile screens */
    --font-size-large-mobile: 20px;
    /* Larger font size for headings on mobile */
    --font-size-small-mobile: 12px;
    /* Smaller font size for subtext on mobile */
}
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    touch-action: manipulation;
    scroll-behavior: smooth;
    overflow: hidden;
}
body {
    color: var(--font-color);
    
    font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}
/* Adjust Overall Layout */
.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
header {
    position: sticky;
    top: 0;
    z-index: 10;
}

main {
    flex-grow: 1;
    overflow: auto;
}

footer {
    position: sticky;
    bottom: 0;
    z-index: 10;
}
/* Transition efffect between pages */
/* src/App.css */

.page {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 20px;
  }
  
  .fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }
  
@media (max-width: 768px) {
    :root {
        --font-size-base: var(--font-size-base-mobile);
        --font-size-large: var(--font-size-large-mobile);
        --font-size-small: var(--font-size-small-mobile);
    }
}

